body {
    margin: 0;
    background: #222;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
